################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fitness.Api/.vs/Fitness.Api/v15/Server/sqlite3
