@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Trinity College Dublin<br />
    University of Dublin<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:asolkarj@tcd.ie">Support@example.com</a><br />
</address>