@model List<Fitness.DataObjects.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FITNESS APPLICATION</h1>
    <p class="lead">Adaptive fitness web application aims to provide customized fitness and food recommendations to its users.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            This app adopts a blended approach for capturing data about the user and suggests fitness plans suitable
            for individual user needs and constraints. This app also lets the user to control app recommendations
            by providing feedback.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Select User</h2>
        <div>
            <ul class="list-group">
                @foreach (var user in Model)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(user.UserName, "ChangeUserContext", "Home", new { userId = user.Id }, new { @class = "btn btn-primary btn-large" })
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Current User Context</h2>
        <h4>@ViewBag.Message</h4>
    </div>
</div>